{
  "presets": [
    ["es2015", "stage-2"]
  ],
  "plugins": [
    "transform-es2015-destructuring",
    "transform-es2015-parameters",
    "transform-object-rest-spread",
    "transform-runtime"
  ],
  "comments": false
}
